<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors defaultRedirect="/"
                  xdt:Transform="Replace" />
  </system.web>

  <appSettings>
    <add key="SpaceTrader.ComicsPath" 
         value="/var/www/webcomics/"
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)"/>
    <add key="SpaceTrader.ComicsRootUrl" 
         value="http://spacetrader.org.uk/comics-static/" 
         xdt:Transform="Replace" 
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
